.producto{
    margin: 0px auto;
    width: calc(100% - 2rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 1rem;
    padding-bottom: 0;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}


.producto img{
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    margin: 0px auto;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    transition: all 0.3s;
    border-radius: 10px;
}

.producto-precio{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
button{
    padding: 0.5rem 0.5rem;
    border: 1px solid white;
    border-radius: none;
    background-color: var(--background-color);
    cursor: pointer;
    font-weight: 700;
    font-size: medium;
    color: var(--primary);
}
button:hover{
    background-color: var(--background-color);
    border: 1px solid var(--primary);
    border-radius: 8px;
}
h4{
    flex-grow: 1;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}
